<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<title></title>
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400italic,600italic,700italic,400,300,600,700|Raleway:400,300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    /*
     * variables:
     * 
     * $stemborg-red: #ea1f2d;
     */
    
    /*----------------------------------*/
    /* TEMPLATE MADE BY PIXELSAFARI.NET */
    /*----------------------------------*/
    /*ANIMATIONEN*/
    .animated {
        -webkit-animation-duration: 1s;
           -moz-animation-duration: 1s;
             -o-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(10px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes fadeInRight {
        0% {
            opacity: 0;
            -moz-transform: translateX(10px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateX(0);
        }
    }
    @-o-keyframes fadeInRight {
        0% {
            opacity: 0;
            -o-transform: translateX(10px);
        }
        100% {
            opacity: 1;
            -o-transform: translateX(0);
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
           -moz-animation-name: fadeInRight;
             -o-animation-name: fadeInRight;
                animation-name: fadeInRight;
    }
    .tabcontent ol,
    .tabcontent ul {
        padding-left: 20px;
        margin: 0;
        line-height: 1.5;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    #wrapper {
        max-width: 1400px;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin: 0 auto;
        background-color: #ffffff;
    }
    #gallery {
        width: 45%;
        float: left;
        margin-bottom: 40px;
    }
    #bigPic {
        min-height: 200px;
        text-align: center;
        border: 1px solid #dddddd;
    }
    #bigPic img {
        max-width: 100%;
    }
    .galleryThumbPadding {
        display: inline-block;
        width: 23.5%;
    }
    .galleryThumb:hover {
        cursor: pointer;
        opacity: 0.7;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .galleryThumb {
        padding: 0 5px 0 5px;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .galleryThumb img {
        max-width: 100%;
        border: 1px solid #dddddd;
    }
    #galleryNav {
        padding-top: 15px;
        text-align: center
    }
    #header {
        padding-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    #header h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 39px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    #header h1:hover {
        color: #ea1f2d;
        cursor: default;
    }
    #header a,
    #header a:visited {
        text-decoration: none;
        color: inherit;
    }
    #navigation {
        height: 62px;
        margin-top: 44px;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #DDDDDD;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #DDDDDD;
    }
    #navigation li {
        display: inline-block;
        margin-right: 50px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #202020;
    }
    #navigation li:hover,
    #navigation li a:hover {
        text-decoration: none;
        color: #ea1f2d;
        cursor: pointer;
    }
    #navigation a,
    #navigation a:visited {
        text-decoration: none;
        color: #202020;
    }
    #navigation ul {
        padding-top: 7px;
    }
    #upperBody {
        margin-left: 45%;
        padding-left: 15px;
        margin-bottom: 50px;
    }
    #upperBody:hover h1 {
        color: #ea1f2d;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    #upperBody h1,
    #upperBody h3 {
        position: relative;
        left: -2px;
        margin-top: 10px;
        margin-bottom: 7px;
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        font-weight: 400;
        color: #1F1F1F;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    #upperBody h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #999999;
    }
    #upperBody p {
        font-family: 'open sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #555555;
    }
    #priceContainer {
        display: inline-block;
        padding: 15px 30px;
        background-color: #EEEEEE;
    }
    #priceContainer h3 {
        font-family: 'Arial Fett', Arial, sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 41px;
        vertical-align: top;
        color: #ea1f2d;
        display: inline-block;
        margin: 0;
    }
    sup {
        position: relative;
        left: -3px;
        font-family: 'raleway', sans-serif;
        font-size: 14px;
        color: #ea1f2d;
    }
    #buyItNowButton {
        display: inline-block;
        width: 280px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
        padding: 10px 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
        background-image: -webkit-linear-gradient(top, #0079bc, #00509d);
        background-image:    -moz-linear-gradient(top, #0079bc, #00509d);
        background-image:         linear-gradient(top, #0079bc, #00509d);
        background-color: #00509d;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079bc',endColorstr='#00509d');
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.04);
           -moz-box-shadow: 0 3px 0 rgba(0,0,0,.04);
                box-shadow: 0 3px 0 rgba(0,0,0,.04);
    }
    #buyItNowButton a,
    #buyItNowButton a:hover,
    #buyItNowButton a:visited {
        text-decoration: none;
        color: inherit;
    }
    #buyItNowButton:hover {
        background: #00509d;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00509d',endColorstr='#00509d');
        cursor: pointer;
    }
    #buyItNowButton i {
        color: #ffffff;
        margin-right: 6px;
        font-size: 18px;
    }
    #feedbackContainer {
        width: 490px;
        border-style: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        padding: 20px 15px;
        display: inline-block;
    }
    #feedbackContainer h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #444444;
    }
    .feedback {
        font-family: 'open sans', sans-serif;
    }
    .feedback p {
        font-size: 14px;
        color: #444444;
        padding-bottom: 20px;
    }
    .feedback i {
        font-size: 12px;
        font-style: italic;
        position: relative;
        left: -40px;
        top: 20px;
        padding-top: 5px;
    }
    #picsNavContainer {
        display: inline-block;
    }
    #shortdescription {
        max-width: 670px;
        padding-right: 15px;
        overflow: hidden;
        line-height: 1.5;
    }
    #tab_description,
    #tab_payment,
    #tab_shipment,
    #tab_aboutus,
    #tab5:hover {
        
    }
    #tab_payment,
    #tab_shipment,
    #tab_aboutus,
    #tab5 {
        display: none;
    }
    .tablinks {
        left: 0 !important;
        min-width: 960px;
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }
    .tablinks li {
        float: left;
        width: 150px;
        height: 30px;
        background-color: #EFF0EB;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        ;
        color: #666666;
        padding-top: 10px;
        margin-right: 10px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        text-transform: uppercase;
    }
    .tablinks li:hover {
        color: #fff;
        background-color: #ea1f2d;
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        text-decoration: none;
        text-transform: uppercase;
    }
    .tablinks li span {
        width: 150px;
        height: 30px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        color: #000;
        padding-top: 9px;
        border: 1px solid #D6D6D6;
        border-bottom: 1px solid #fff;
        z-index: 2;
        text-transform: uppercase;
        position: relative;
    }
    .tabcontent h1,
    .tabContainer h1 {
        font-size: 28px;
        font-weight: 300;
        font-family: 'raleway', sans-serif;
        color: #000000;
    }
    .tabtitle {
        padding: 15 5 5 5;
        border-bottom: 0;
        font-size: 12px;
        text-transform: uppercase;
    }
    .tabContainer {
        clear: both;
        padding-bottom: 80px;
        font: 15px Lato;
    }
    .tabcontent {
        margin: 0;
        padding: 25px 50px 55px 50px;
        overflow: hidden;
        font: 16px Lato;
        color: #555555;
        text-align: left;
        line-height: 1.5;
    }
    .tabcontent a {
        color: #ea1f2d;
    }
    .tabcontent a:hover,
    .tabcontent a:visited {
        color: #c0392b;
    }
    .tabcontent img {
        max-width: 100%;
        height: auto;
        margin: 5px;
    }
    .contentBorder {
        border: 1px solid #D6D6D6;
    }
    .contentImgLeft {
        float: left;
        width: 40%;
        margin-top: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .contentImgRight {
        float: right;
        width: 40%;
        margin-top: 0;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .bsItems {
        display: table-row;
    }
    .bsItems > .bsItem {
        float: none;
        margin: 0;
    }
    .bsItem {
        position: relative;
        
        display: table-cell;
        border-collapse: separate;
        padding: 10px 0 40px;
        border: 1px solid #fff;
        width: 30%;
        
        font-family: 'raleway', open sans;
        font-weight: 300;
        text-align: center;
        
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    .bsItem img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    .bsItem h2 {
        font-weight: 400;
        font-size: 20px;
        padding: 0 10px;
    }
    .bsItem h3 {
        position: absolute;
        left: 0;
        bottom: 10px;
        
        display: block;
        width: 100%;
        
        font-weight: 400;
        color: #ea1f2d;
        font-size: 18px;
        text-align: center;
    }
    .bsItem a,
    .bsItem a:hover,
    .bsItem a:visited {
        text-decoration: none;
        color: inherit;
    }
    .bsItem sup {
        font-size: 13px;
    }
    .bsItem:hover img {
        opacity: 0.7;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    .bsItem:hover {
        cursor: pointer;
        border: 1px solid #ea1f2d;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    #bsItemContainerHeading h1 {
        margin: 0 1em;
        position: relative;
        overflow: hidden;
        font-family: 'raleway', "open sans";
        font-size: 22px;
        font-weight: 400;
    }
    #bsItemContainerHeading h1:after,
    #bsItemContainer h1:before,
    .bsItemContainer h1:before {
        content: '';
        margin-top: 0.5em;
        height: 0;
        border-top: groove 1px #000;
        width: 100%;
        position: absolute;
        margin-right: -100%;
        margin-left: 1%;
    }
    #bsItemContainerHeading h1:before {
        margin-left: -101%;
    }
    #bsItemContainerHeading {
        margin-bottom: 35px;
    }
    #bsItemContainer,
    .bsItemContainer {
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        border-collapse: separate;
    }
    #footerContainer {
        font-family: 'Lato', sans-serif;
        background-color: #222222;
        width: 100%;
        height: 220px;
        margin: 80px 0 0 0;
        padding: 40px 0 0 0;
    }
    #footerContainer h1 {
        font-size: 18px;
        color: #fff;
        margin: 0 0 26px 0;
        font-weight: 300;
        padding: 0;
    }
    #footerContainer i {
        color: #ffffff;
        font-size: 22px;
        float: left;
        line-height: 30px;
    }
    #footerContainer a {
        color: #D6D6D6;
        text-decoration: none;
    }
    #footerColumn1 {
        float: left;
        width: 220px;
        height: 180px;
        margin-left: 60px;
    }
    #footerColumn2,
    #footerColumn3 {
        float: left;
        width: 205px;
        height: 180px;
        margin-left: 35px;
    }
    .footerRow {
        height: 28px;
        margin-bottom: 20px;
    }
    #footerColumn1 p {
        font-size: 12px;
        color: #D6D6D6;
        margin: 0 0 0 40px;
        margin-bottom: 0;
        padding: 0;
    }
    #footerColumn2 p {
        font-size: 12px;
        color: #D6D6D6;
        margin: 5px 0 0 15px;
        display: block;
        font-weight: 400;
        float: left;
    }
    #footerColumn3 p {
        font-size: 12px;
        color: #D6D6D6;
        font-weight: 400;
        clear: both;
    }
    #footerColumn3 span {
        font-weight: 400;
        margin-top: 5px;
    }
    #copyright {
        float: left;
        color: #D6D6D6;
        font-size: 9px;
        margin: 10px 0 0 0;
    }
}
#copyright a {
    color: #ffffff;
    text-decoration: none;
}
/* SMARTPHONE 660px*/

@media only screen and (max-width: 660px),
only screen and (max-width: 660px) and (-moz-min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (-o-min-device-pixel-ratio: 3/2),
only screen and (max-width: 660px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (-moz-min-device-pixel-ratio: 2),
only screen and (max-width: 660px) and (-o-min-device-pixel-ratio: 2/1),
only screen and (max-width: 660px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 660px) and (min-device-pixel-ratio: 2),
only screen and (max-width: 660px) and (-moz-min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (-o-min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (min-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (device-aspect-ratio: 9/16),
only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3),
only screen and (max-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5) {
    #header img {
        max-width: 100%;
    }
    #navigation {
        height: auto;
    }
    #navigation li {
        display: block;
        padding: 10px;
    }
    #gallery {
        width: 100%;
        clear: both;
        margin-bottom: 30px;
    }
    .galleryThumbPadding {
        display: inline-block;
        width: 23%;
    }
    #upperBody {
        clear: both;
        margin-left: 0;
        padding: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    #shortdescription {
        max-width: 820px;
        padding-right: 0;
    }
    #priceContainer {
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 30px 0;
    }
    #buyItNowButton {
        margin-left: 0;
        width: 80%;
    }
    #feedbackContainer {
        width: auto;
        display: block;
    }
    .tablinks {
        display: none;
    }
    #tab_description,
    #tab_payment,
    #tab_shipment,
    #tab_aboutus,
    #tab5 {
        display: block;
        margin-top: 50px;
    }
    .tabcontent {
        padding: 15px;
    }
    .tabcontent img {
        max-width: 100%;
        width: auto;
        max-height: auto;
        height: auto;
        margin: 0;
    }
    .contentImgLeft,
    .contentImgRight {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        float: none;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }
    .bsItems {
        display: block;
    }
    .bsItem {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    
    #footerColumn1,
    #footerColumn2,
    #footerColumn3 {
        float: none;
        display: block;
        clear: both;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: left;
        padding: 0;
        width: 55%;
        height: auto;
    }
    #footerColumn1 p {
        font-size: 12px;
        color: #D6D6D6;
        margin: 0 0 0 50px;
        margin-bottom: 0;
        padding: 0;
    }
    #footerContainer {
        height: auto;
        padding-bottom: 10px;
    }
    #footerContainer i {
        display: block;
        width: 100%;
        padding-left: 45%;
    }
    #footerContainer p,
    #footerContainer #copyright {
        margin: auto !important;
        float: none !important;
    }
    
    .footerRow {
        height: auto;
    }
}
 
    
@media only screen and (min-width: 661px) and (max-width: 793px) {
    #navigation li:nth-of-type(4) { display: none }
}
@media only screen and (min-width: 661px) and (max-width: 968px) {
    #navigation li:nth-of-type(5) { display: none }
}    
@media only screen and (min-width: 661px) and (max-width: 1162px) {
    #navigation li:nth-of-type(6) { display: none }
}
@media only screen and (min-width: 661px) and (max-width: 1324px) {
    #navigation li:nth-of-type(7) { display: none }
}
</style>
<style type="text/css">
#ds_div { max-width: 1500px !important; }
pre { white-space: normal; }
.space-top { padding-top: 4em; }
.space-bottom { padding-bottom: 4em; }
</style>
<div id="wrapper">
    <div id="header">
        <img alt="" src="http://shoppingprojekt.dyndns.org/vorlagen/minimalist/logo.jpg"/>
        <div id="navigation">
            <ul class="navList">
                <li><a href="http://stores.ebay.de/Stemborg_Drucker-Scanner-Zubehor_W0QQfsubZ6430067016">Drucker, Scanner &amp; Zubeh&ouml;r</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Haushaltsgerate_W0QQfsubZ4990330016">Haushaltsgeräte</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Mobel-Wohnen_W0QQfsubZ6430068016">M&ouml;bel &amp; Wohnen</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Spielzeug_W0QQfsubZ6430069016">Spielzeug</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Garten-Terasse_W0QQfsubZ6430070016">Garten &amp; Terasse</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Camping-Outdoor_W0QQfsubZ6430071016">Camping &amp; Outdoor</a></li>
                <li><a href="http://stores.ebay.de/Stemborg_Haustierbedarf_W0QQfsubZ6430072016">Haustierbedarf</a></li>
            </ul>
        </div><!-- /navigation -->
    </div><!-- /header -->
    <div id="gallery">
        <div id="bigPic">
            <img id="img0" src="#gallery_url_pfad#"/>
        </div>
        <div id="galleryNav">
            <div class="galleryThumbPadding">
                <div id="galleryThumb1" 
                     class="galleryThumb"
                     onclick="document.getElementById('bigPic').innerHTML=document.getElementById('galleryThumb1').innerHTML">
                    <img id="img1" src="#bilderpfad_1#"/>
                </div>
            </div>
            <div class="galleryThumbPadding">
                <div id="galleryThumb2" 
                     class="galleryThumb" 
                     onclick="document.getElementById('bigPic').innerHTML=document.getElementById('galleryThumb2').innerHTML">
                    <img id="img2" src="#bilderpfad_2#"/>
                </div>
            </div>
            <div class="galleryThumbPadding">
                <div id="galleryThumb3"
                     class="galleryThumb"
                     onclick="document.getElementById('bigPic').innerHTML=document.getElementById('galleryThumb3').innerHTML">
                    <img id="img3" src="#bilderpfad_3#"/>
                </div>
            </div>
            <div class="galleryThumbPadding">
                <div id="galleryThumb4"
                     class="galleryThumb"
                     onclick="document.getElementById('bigPic').innerHTML=document.getElementById('galleryThumb4').innerHTML">
                    <img id="img4" src="#bilderpfad_4#"/>
                </div>
            </div>
        </div>
    </div><!-- /gallery -->
    <div id="upperBody">
        <div id="shortdescription">
            <div id="text1"></div>
        </div><!-- /shortdescription -->
        <div id="priceContainer">
            <h3 id="buyItNowPrice">EUR #sofortkauf#</h3>
            <a id="buyItNowButton">Sofort-Kaufen</a><!-- /buyItNowButton -->
        </div><!-- /priceContainer -->
        <!---
        <div id="feedbackContainer">
            <h3>Ausgew&auml;hlte Account-Bewertungen</h3>
            <div class="feedback">
            <p>&quot; Lorem ipsum dolor sit amet, consetetur sadipscing elitr. &quot;<i>- Lorem ipsum</i></p>
        </div><!-- /feedbackContainer -->
        <!-- /feedback
        <div class="feedback">
            <p>&quot; Lorem ipsum dolor sit amet, consetetur sadipscing elitr. &quot;<i>- Lorem ipsum</i> </p>
        </div>
        --->
        <!-- /feedback -->
    </div><!-- /upperBody -->
    <div class="tabContainer">
        <!-- tab 1 -->
        <div style="display: block;" id="tab_description">
            <ul class="tablinks">
                <li style="hover=;padding:0;border-top-width:0px;"><span>Beschreibung</span></li>
                <!--
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'block';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';">Bezahlung</li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'block';
                             document.getElementById('tab_aboutus').style.display = 'none';">Versand</li>
                -->
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'block';">&Uuml;ber uns</li>
            </ul>
            <div class="contentBorder">
                <div class="animated fadeInRight">
                    <div class="tabcontent">
                        <div class="contentImgRight"><img id="img5" src="#bilderpfad_5#"/></div>
                        <div id="text2"></div>
                        <div class="contentImgLeft"><img id="img6" src="#bilderpfad_6#"/></div>
                        <div id="text3"></div>
                        <div class="contentImgRight"><img id="img7" src="#bilderpfad_7#"/></div>
                        <div id="text4"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- tab_payment
        <div style="display: none;" id="tab_payment">
            <ul class="tablinks">
                <li onclick="document.getElementById('tab_description').style.display = 'block';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';">Beschreibung</li>
                <li style="hover=;padding:0;border-top-width:0px;"><span>Bezahlung</span></li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'block';
                             document.getElementById('tab_aboutus').style.display = 'none';">Versand</li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'block';">&Uuml;ber uns</li>
            </ul>
            <div class="contentBorder">
                <div class="animated fadeInRight">
                    <div class="tabcontent">
                        <h1>Bezahlung</h1>
                        <div>#baustein_1#</div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- tab_shipment
        <div style="display: none;" id="tab_shipment">
            <ul class="tablinks">
                <li onclick="document.getElementById('tab_description').style.display = 'block';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';">Beschreibung</li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'block';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';">Bezahlung</li>
                <li style="hover=;padding:0;border-top-width:0px;"><span>Versand</span></li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'block';">&Uuml;ber uns</li>
            </ul>
            <div class="contentBorder">
                <div class="animated fadeInRight">
                    <div class="tabcontent">
                        <h1>Versand</h1>
                        <div>#baustein_2#</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tab_aboutus -->
        <div style="display: none;" id="tab_aboutus">
            <ul class="tablinks">
                <li onclick="document.getElementById('tab_description').style.display = 'block';
                             document.getElementById('tab_aboutus').style.display = 'none';">Beschreibung</li>
                <!--
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'block';">Bezahlung</li>
                <li onclick="document.getElementById('tab_description').style.display = 'none';
                             document.getElementById('tab_payment').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'none';
                             document.getElementById('tab_aboutus').style.display = 'none';
                             document.getElementById('tab_shipment').style.display = 'block';">Versand</li>
                -->
                <li style="hover=;padding:0;border-top-width:0px;"><span>&Uuml;ber uns</span></li>
            </ul>
            <div class="contentBorder">
                <div class="animated fadeInRight">
                    <div class="tabcontent">
                        <h1>&Uuml;ber uns</h1>
                        <p>You probably haven't heard of them Bushwick brunch mixtape. Odd Future meggings occaecat in selvage, est fap cray. Meditation nulla veniam, officia Portland Bushwick organic laboris tote bag flexitarian sustainable dolor id. Ea normcore cold-pressed, sunt PBR&amp;B Thundercats actually artisan roof party cred migas. Sed flannel fugiat mlkshk yr bespoke. Fanny pack raw denim incididunt sartorial Echo Park, viral kogi flannel leggings health goth tilde voluptate lo-fi in stumptown. Wes Anderson Truffaut mollit, pug iPhone Helvetica slow-carb magna.</p>
                        <p>Cold-pressed kogi retro pour-over. Art party Williamsburg est, butcher chambray stumptown commodo literally kitsch cronut DIY ex retro. Food truck aliqua vero letterpress +1 yr. Forage Carles cray tofu voluptate, bitters duis occaecat next level consectetur veniam officia stumptown. Ullamco authentic street art, XOXO flannel mollit paleo sapiente Neutra Wes Anderson Banksy occupy dreamcatcher. Est dolore McSweeney's, aliquip fingerstache cillum pour-over deep v. Migas +1 banjo aute, pug Brooklyn jean shorts cronut incididunt kitsch ut Pitchfork vero pickled.</p>
                        <p>Skateboard meditation wayfarers chia, VHS gluten-free taxidermy cillum photo booth ex bespoke 3 wolf moon cronut biodiesel. Accusamus Banksy fap farm-to-table, adipisicing authentic biodiesel quis. Tousled lumbersexual normcore nihil polaroid 8-bit excepteur ugh. Keffiyeh stumptown hoodie, reprehenderit gluten-free High Life leggings consectetur cupidatat sed Kickstarter. Irony VHS distillery letterpress, Marfa voluptate fingerstache bespoke actually iPhone bitters Odd Future enim listicle. Elit sartorial meggings, mustache heirloom brunch DIY pariatur put a bird on it non vinyl. Carles Shoreditch McSweeney's Wes Anderson.</p>
                        <p>DIY dreamcatcher semiotics heirloom, wayfarers plaid pickled nesciunt. Gluten-free eu consectetur cronut elit, Truffaut beard nisi pug Blue Bottle. Sustainable nostrud paleo, slow-carb non vinyl qui magna scenester Odd Future kitsch cold-pressed PBR&amp;B fanny pack. Flannel cliche in sartorial. Intelligentsia Bushwick photo booth, vinyl lo-fi quinoa DIY. Yr culpa enim, typewriter single-origin coffee drinking vinegar beard pork belly et ennui. IPhone semiotics post-ironic, reprehenderit try-hard officia Etsy actually nihil slow-carb health goth pop-up occupy commodo meditation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /tabContainer -->
    <div id="bsItemContainer" class="space-top">
        <div id="bsItemContainerHeading">
            <h1>Unsere Bestseller</h1>
        </div>
        <div class="bsItems">
            <div class="bsItem bsItem1" id="bsItem1">
                <a href="">
                    <img src="">
                    <h2></h2>
                    <h3></h3>
                </a>
            </div>
            <div class="bsItem bsItem3" id="bsItem2"><!-- MINIMALIST uses .bsItem3 for the middle item?!? -->
                <a href="">
                    <img src="">
                    <h2></h2>
                    <h3></h3>
                </a>
            </div>
            <div class="bsItem bsItem2" id="bsItem3">
                <a href="">
                    <img src="">
                    <h2></h2>
                    <h3></h3>
                </a>
            </div>
        </div>
    </div>
    <div id="footerContainer">
        <div id="footerColumn1">
            <h1>Kontaktieren Sie uns</h1>
            <div class="footerRow">
                <i class="fa fa-phone"></i>
                <p><a href="tel:08001316190">Tel 0800 / 13 16 19 0</a></p>
                <p><a href="tel:0620529299999">Fax 06205 / 292 999 99</a></p>
            </div>
            <div class="footerRow">
                <i class="fa fa-paper-plane"></i>
                <p><a href="mailto:ebay@stemborg.de">ebay@stemborg.de</a></p>
            </div>
            <div class="footerRow">
                <i class="fa fa-location-arrow"></i>
                <p>Sauerbruchstra&szlig;e 1-3<br>
                68799 Reilingen</p>
            </div>
        </div>
        <div id="footerColumn2">
            <h1>Folgen Sie uns</h1>
            <div class="footerRow"><i class="fa fa-facebook-square"></i> <p><a href="https://www.facebook.com/stemborg">facebook.com/stemborg</a></p></div>
            <div class="footerRow"><i class="fa fa-skype"></i> <p><a href="skype:stemborg_kundenservice?call">stemborg_kundenservice</a></p></div>
            <div class="footerRow"><i class="fa fa-google-plus-square"></i> <p><a href="https://google.com/+stemborg">google.com/+stemborg</a></p></div>
        </div>
        <div id="footerColumn3">
            <h1>Impressum</h1>
            <div class="footerRow">
                <p>Stemborg Versandhandel GmbH<br>
                    Sauerbruchstra&szlig;e 1-3<br>
                    68799 Reilingen<br>
                    Deutschland<br>
                    Gesch&auml;ftsf&uuml;hrer:<br>
                    <a href="tel:08001316190">Giovanni Rattu</a><br>
                    USt.-ID: DE 129455514</p>
                <div id="copyright">&copy; 2015 Stemborg Versandhandel GmbH</div>
            </div>
        </div>
    </div><!-- /footerContainer -->
    <div id="jsonpContainer"></div>
</div><!-- /wrapper -->
<script type="text/javascript">
var apiBaseurl = 'http://shoppingprojekt.dyndns.org/~dominik/';
    
callbacks = {}; // needs to be global to allow jsonp
function jsonp(parameter, url, next) {
    var id = randomString(5)
      , script = document.createElement('script');
    script.src = url + '&' + parameter + '=callbacks.' + id;
    
    callbacks[id] = next;
    document.getElementById('jsonpContainer').appendChild(script);
}
    
function randomString(len) {
    var string = '', randomNumber;
    while (string.length < len && len > 0) {
        randomNumber = Math.random();
        string += String.fromCharCode(Math.floor(randomNumber * 26) + (randomNumber > .5 ? 97 : 65));
    }
    return string;
}
    
function formatPrice(priceInEur) {
    var safePrice = ((["0","1","2","3","4","5","6","7","8","9"].indexOf(priceInEur.charAt(0)) === -1) ? priceInEur.substring(1) : priceInEur).split(',').join('.');
    return 'EUR ' + (parseFloat(safePrice).toFixed(2) + '').split('.').join(',');
}
    
jsonp('callback', apiBaseurl + 'template.php?id=#lagernummer#', function(article) {
    var i, product, element;
    
    document.getElementById('buyItNowButton').href = 'http://offer.ebay.de/ws/eBayISAPI.dll?BinConfirm&rev=1&fromPage=2047675&item=' + article.ebay;
    
    for (i = 0; i < article.text.length; i++) {
        element = document.getElementById('text' + (i+1));
        if (element)
            element.innerHTML = article.text[i];
    }
    
    for (i = 0; i < article.images.length; i++) {
        element = document.getElementById('img' + i);
        if (element)
            element.src = article.images[i];
    }
    
    for (i = 0; i < article.crossSelling.length; i++) {
        product = article.crossSelling[i];
        
        (function(product, i) {jsonp('callback', apiBaseurl + 'ebay.php?id=' + product.ebay + '&endpoint=GetSingleItem', function(result) {
            var item = result.Item
              , element = document.getElementById('bsItem' + (i+1));
        
            if (element)
                element.innerHTML = '<a href="' + item.ViewItemURLForNaturalSearch + '">' +
                    '<img src="' + item.PictureURL + '"/><h2>' + item.Title + '</h2><h3>' + formatPrice(item.ConvertedCurrentPrice) + '</h3></a>';
        }) })(product, i);
    }
});
    
document.getElementById('buyItNowPrice').innerHTML = formatPrice('#sofortkauf#');
</script>